/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #D93D04;
  --ifm-color-primary-dark: #B83403;
  --ifm-color-primary-darker: #B83403;
  --ifm-color-primary-darkest: #982B03;
  --ifm-color-primary-light: #AE3103;
  --ifm-color-primary-lighter: #BB3403;
  --ifm-color-primary-lightest: #B43303;

  --ifm-code-font-size: 95%;
  
  /* Fixes text overflowing the sidebar. */
  --doc-sidebar-width: 350px !important;
}

[data-theme=‘dark’] {
  --ifm-color-primary: #F2561D;
  --ifm-color-primary-dark: #EE4A0E;
  --ifm-color-primary-darker: #EC490E;
  --ifm-color-primary-darkest: #F14E13;
  --ifm-color-primary-light: #E9480D;
  --ifm-color-primary-lighter: #F89F7E;
  --ifm-color-primary-lightest: #F68F6A;
  --ifm-background-color: #19191A;
}
