name: Build and Deploy documentation to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build:
    name: Generate docs content
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: dart pub get

      - name: Generate documentation files
        run: >
          dart run tool/generate_web_docs_content.dart
          --path lib/src/lints
          --docs-dir doc/docusaurus/docs/2_custom_lints
          --readme README.md

      - name: Create generated docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: generated-docs
          path: doc/docusaurus/docs

  deploy:
    needs: build
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: doc/docusaurus

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: doc/docusaurus/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Download generated docs
        uses: actions/download-artifact@v4
        with:
          name: generated-docs
          path: doc/docusaurus/docs

      - name: Build website
        run: yarn build

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: doc/docusaurus/build

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
